[run]
relative_files = True
branch = True

omit =
        manage.py
        */tests/*
        */staticfiles/*
        */migrations/*
        */__init__.py
        hotelNexus\urls.py
        hotelNexus\settings.py
        core\apps.py
        core\admin.py  
[xml]
output = coverage.xml